

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [4]:
l = list()

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [8]:
l=[1,2,3,4,5,6,7,8,9,10,11]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [9]:
len(l)

11

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [11]:
print(l[0])

print(l[int(len(l)/2)])

print(l[-1])

1
6
11

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [13]:
mixed_data_types=["Fama",25, 1.70,"Mariée","Dakar"]
print(mixed_data_types)

['Fama', 25, 1.7, 'Mariée', 'Dakar']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

1.Déclarez une variable liste appelée it_companies

2.Imprimez la liste à l'aide de print()

In [16]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

3.imprimez le nombre d'entreprises dans la liste

In [17]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(len(it_companies))

7

4.imprimez la première, la moyenne et la dernière entreprise

In [19]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies[0], it_companies[int(len(it_companies)/2)], it_companies[-1])

Facebook Apple Amazon

5.imprimez la liste après avoir modifié l'une des entreprises.

In [23]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies[-2]="Orange"
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Orange', 'Amazon']

6.Ajout d'une entreprise informatique à it_companies

In [24]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.append("Informatic")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Informatic']

7.Insérer une entreprise informatique au milieu de la liste des entreprises

In [26]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.insert(int(len(it_companies)/2)+1, "informatic")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'informatic', 'IBM', 'Oracle', 'Amazon']

8.Changez le nom d'une des it_companies en majuscule (sauf IBM !)

In [32]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
y=it_companies[2].upper()
print(y)

MICROSOFT

9.Joignez les it_companies avec une chaîne '# ; '.

In [27]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
y="# ;".join(it_companies)
print(y)

Facebook# ;Google# ;Microsoft# ;Apple# ;IBM# ;Oracle# ;Amazon

10.Vérifier si une certaine entreprise existe dans la liste it_companies.

In [29]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
if "IBM" in it_companies:
    print("IBM est dans la liste")
else:
    print("IBM est dans la liste")

IBM est dans la liste

11.Trier la liste en utilisant la méthode sort()

In [30]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

12.Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

In [31]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.reverse()
print(it_companies)

['Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'Facebook']

13.Supprimez les 3 premières entreprises de la liste.

In [36]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[0:3]
print(it_companies)

['Apple', 'IBM', 'Oracle', 'Amazon']

14.Supprimez les 3 dernières entreprises de la liste.

In [33]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[-3:]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple']

15.Supprimez la ou les entreprises informatiques du milieu de la liste.

In [34]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[int(len(it_companies)/2)]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

16.Supprimez la première entreprise informatique de la liste

In [35]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[0]
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

17.Supprimez la ou les entreprises informatiques du milieu de la liste.

In [ ]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[int(len(it_companies)/2)]
print(it_companies)

18.Retirer la dernière entreprise informatique de la liste

In [38]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[-1]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

19.Supprimez toutes les entreprises informatiques de la liste

In [40]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[0:]
print(it_companies)

[]

In [41]:
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.clear()
print(it_companies)

[]

20.Détruire la liste des entreprises informatiques

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [42]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
front_end.extend(back_end)
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

1. Trier la liste et trouver l'âge minimum et maximum.

In [47]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()  
print(ages[0],ages[-1])

19 26

2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.

In [48]:
ages.extend([19,26])
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).

In [49]:
print(ages[int(len(ages)/2)])

24

4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).

In [50]:
for i in range(len(ages)):
    ages.append(ages[i])
x=sum(ages)
print(int(x/len(ages)))

22

4. Trouver l'intervalle des âges (max moins min)

In [51]:
ages.sort()
print(ages[-1],ages[0])

26 19

5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [53]:
import math
min_moy=19-22
max_moy=26-22
abs(min_moy-max_moy)

7

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

1.Créer un dictionnaire vide appelé dog

In [1]:
dog={}

2.Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.

In [2]:
dog["name"]="Fama"
dog["couleur"]="Blau"
dog["race"]="noire"
dog["pattes"]=2
dog["ages"]=25
print(dog)

{'name': 'Fama', 'couleur': 'Blau', 'race': 'noire', 'pattes': 2, 'ages': 25}

3.Créez un dictionnaire student et ajoutez...

In [6]:
student={"prenom":"Fama fall","nom":"GUENE","sexe":"F","age":25,"etat civil":"Mariée","competences":["Analyse de donnée","Gestion des projet"],"Pays":"senegal","ville":"Dakar","adresse":"Sud foire"}
print(student)

{'prenom': 'Fama fall', 'nom': 'GUENE', 'sexe': 'F', 'age': 25, 'etat civil': 'Mariée', 'competences': ['Analyse de donnée', 'Gestion des projet'], 'Pays': 'senegal', 'ville': 'Dakar', 'adresse': 'Sud foire'}

4.obtenez la longueur du dictionnaire student

In [7]:
print(len(student))

9

5.Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.

In [8]:
print(student["competences"],type(student["competences"]))

['Analyse de donnée', 'Gestion des projet'] <class 'list'>

6.Modifiez les valeurs des compétences en ajoutant une ou deux compétences.

In [9]:
student["competences"].extend(["Prise de décision","Travail en équipe"])
print(student["competences"])

['Analyse de donnée', 'Gestion des projet', 'Prise de décision', 'Travail en équipe']

7.Obtenez les clés du dictionnaire sous forme de liste

In [10]:
print(student.keys())

dict_keys(['prenom', 'nom', 'sexe', 'age', 'etat civil', 'competences', 'Pays', 'ville', 'adresse'])

8.obtenir les valeurs du dictionnaire sous forme de liste

In [11]:
print(student.values())

dict_values(['Fama fall', 'GUENE', 'F', 25, 'Mariée', ['Analyse de donnée', 'Gestion des projet', 'Prise de décision', 'Travail en équipe'], 'senegal', 'Dakar', 'Sud foire'])

9.Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()

In [12]:
student.items()

dict_items([('prenom', 'Fama fall'), ('nom', 'GUENE'), ('sexe', 'F'), ('age', 25), ('etat civil', 'Mariée'), ('competences', ['Analyse de donnée', 'Gestion des projet', 'Prise de décision', 'Travail en équipe']), ('Pays', 'senegal'), ('ville', 'Dakar'), ('adresse', 'Sud foire')])

10.Supprimer un des éléments du dictionnaire

In [15]:
student={"prenom":"Fama fall","nom":"GUENE","sexe":"F","age":25,"etat civil":"Mariée","competences":["Analyse de donnée","Gestion des projet"],"Pays":"senegal","ville":"Dakar","adresse":"Sud foire"}
del student["competences"]
print(student)

{'prenom': 'Fama fall', 'nom': 'GUENE', 'sexe': 'F', 'age': 25, 'etat civil': 'Mariée', 'Pays': 'senegal', 'ville': 'Dakar', 'adresse': 'Sud foire'}

11.Supprimer un des dictionnaires

In [14]:
L=[dog,student]
print(L)
L.remove(dog)
print(L)

[{'name': 'Fama', 'couleur': 'Blau', 'race': 'noire', 'pattes': 2, 'ages': 25}, {'prenom': 'Fama fall', 'nom': 'GUENE', 'sexe': 'F', 'age': 25, 'etat civil': 'Mariée', 'Pays': 'senegal', 'ville': 'Dakar', 'adresse': 'Sud foire'}]
[{'prenom': 'Fama fall', 'nom': 'GUENE', 'sexe': 'F', 'age': 25, 'etat civil': 'Mariée', 'Pays': 'senegal', 'ville': 'Dakar', 'adresse': 'Sud foire'}]

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>